[v-cloak] {display: none}

body {
  padding: 10px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#leftbox {
  background-color: beige;
  text-align: left;
}

#rightbox {
  background-color: darkgray;
  text-align: right;
}

.bubble {
  border: 2px solid darkgrey;
	border-radius: .4em;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 300px; */
  margin: 20px;
}

.flex-column {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.big-button{
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
}

.big-button:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
}

.button {
  margin: 10px 10px;
}

#alert {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: greenyellow;
}

.success {
  background-color: rgb(88, 241, 68);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(22, 248, 97);
  color: black;
}

.info {
  background-color: rgb(47, 67, 245);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(56, 59, 241);
  color: white;
}

.error {
  background-color: indianred;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: red;
  color: white;
}

.view-box {
  width: 100%;
  height: 75%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-transform {
  animation: rotate 30s 1;
  -webkit-transform: scale(5,5) rotate(0deg);
  transform: scale(5,5) rotate(0deg);
}

.image-transform--pause {
  animation-play-state: paused;
}

.image-transform--resume {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(none) scale(5,5);
    transform: rotate(0deg) scale(5,5);
  }
  100% {
    -webkit-transform: rotate(1turn) scale(1,1);
    transform: rotate(1turn) scale(1,1);
  }
}



